.gradle
/build/
out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Project Files ###
/webauthn4j-spring-security-metadata/bin
/webauthn4j-spring-security-test/bin
/webauthn4j-spring-security-core/bin
/samples/spa/bin
/samples/mpa/bin
/samples/lib/spa-angular-client/.angular
/samples/fido-server-conformance-test-app/bin
